{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}

	<h1>Mon profil Candidat</h1>

	{% if editMode %}
		<h2 class="center my-4 blue">
			Modifier votre profil</h2>
	{% else %}
		<h2 class="center my-4 blue">
			Compléter votre profil</h2>
	{% endif %}

	{{ form_start(CandidatFormType, { 'attr': {'class': 'formProfil'} }) }}

	<fieldset>
		{{ form_row(CandidatFormType.surname) }}
		{{ form_row(CandidatFormType.firstname) }}
		{{ form_row(CandidatFormType.cv) }}
	</fieldset>

	<div class="text-center">
		{% if editMode %}
			<button type="submit" class="btn btn-sm btn-warning my-3">Modifier</button>
		{% else %}
			<button type="submit" class="btn btn-sm btn-info my-3">Enregistrer</button>
		{% endif %}
	</div>

	{{ form_end(CandidatFormType) }}

{% endblock %}
